*{
    text-decoration: none;
    margin:0;
    padding: 0;
}

body{

    background-color: #fffafa;
    font-family: sans-serif;
    background-image: url("image/bac.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.total{
    margin-top: 100px;
    margin-left: 130px;
    position: relative;
    width: 80%;
    height: 100%;
    background-image: url("image/bac.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.8;
}
.topem{
    width: 100%;
    margin-bottom:10px;
    padding-bottom:10px;
}


.links{
    background: #0095f6;
    color:#ffffff;
    padding: 8px;
    border-radius: 4px;
    padding-left: 10px;
    margin-left: 5px;

    cursor: pointer;
    transition: .5s ease all;/*cuida da transilção de uma animação para outra*/
}

.links:hover{
    background: black;
    color:#ffffff;
}
button{
    width: 100px;
    border-radius: 10%;
    background-color: #fffafa;

    
}
.topp{
    width: 100%;
    height: 360px;

    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    opacity: 0.8;

}

.page_bottom{
    

    border-radius: 5%;
    opacity: 0.8;
    height: 200px;
}
.page_dir{
    margin: 10px;
    padding: 10px;
    
    width: 45%;
    height: 400px;
    position: relative;
    float:right;
    background-color: #fffafa;
    border-radius: 5%;
    opacity: 0.8;
}

.page_esq{
    margin: 10px;
    padding: 10px;
    
    width: 45%;
    height: 300px;
    position: relative;
    float:left;
    background-color: #fffafa;
    border-radius: 5%;
    opacity: 0.8;
}
.page_bott{
    margin: 10px;
    padding: 10px;
    
    width: 45%;
    height: 250px;
    position: relative;
    float:left;
    background-color: #fffafa;
    border-radius: 5%;
    opacity: 0.8;
}


h1{
    text-align: center;
    font-family: "Open Sans Condesed", sans-serif;
}
.pag{
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    align-self: center;
}

.numbers{
    
    padding-left:2% ;
}
.group_img{
    
    display: flex;
    

}

.perfil{
    
    width: 500px;
    height: 500px;
    position:relative;
	left:30%;

    border-radius: 50%;
}

.perfil:hover{
    width: 100%;
    height: 600px;
    left:0%;
    position:relative;
    border-radius: 0%;
}
.imag{
    width: 200px;
    height: 150px;
    padding-left: 5px;
    align-items: baseline;
}
footer{
    border-top: 1px solid #333;
    background-color: #0095f6;
    text-align: center;
    bottom: 0;
    left: 0;
    height: 20px;
    position: fixed;
    width: 100%;
  }

